<ion-searchbar placeholder="Buscar parametros"
               animated
               debounce="500"
               (keyup.enter)="settingsService.getSettings()"
               (ionCancel)="settingsService.search = ''"
               (ionChange)="settingsService.getSettings()"
               [showCancelButton]="'focus'"
               [cancelButtonText]="'cancelar'"
               [(ngModel)]="settingsService.search"></ion-searchbar>
<ion-list>
    <ion-list-header>
        Parametros
    </ion-list-header>
    <ng-container *ngIf="settingsService?.settings?.length">

        <ng-container *ngFor="let setting of settingsService?.settings">
            <ion-item-sliding>
                <ion-item (click)="settingsService.getSetting(setting.code); openModal('Editar')">
                    <ion-label>
                        {{setting.name}}
                        <h3>{{setting.code}}</h3>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger"
                                     (click)="settingsService.deleteSetting(setting)">
                        <ion-icon name="trash"
                                  class="icon-s"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="!settingsService?.settings?.length">
        <ion-item>
            <ion-label>Sin parametros</ion-label>
            <ion-button (click)="settingsService.newSetting(); openModal()"
                        slot="end"
                        fill="outline"
                        color="success">
                Crear parametros
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-list>
