<app-main-header title="{{'JUNTAS DEL CONSEJO' | titlecase}}"
                 primaryLink="coun-meetings/create/custom"
                 primaryText="Crear {{'JUNTAS DEL CONSEJO' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">
    <ion-list>
        <ion-list-header>
            <ion-label>Juntas del consejo</ion-label>
        </ion-list-header>

        <ng-container *ngIf="counMeetingsService.counMeetings.length">
            <ion-item *ngFor="let meeting of counMeetingsService.counMeetings">
                <ion-label>
                    <h2>{{meeting.name}}</h2>
                    <h2>No. {{meeting.id | zeroLeading}}</h2>
                    <h3 *ngIf="meeting.files.length">
                        <ng-container *ngFor="let file of meeting.files; let index = index; let last = last">
                            <a [href]="file.url"
                               target="_blank">{{file.name}}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </h3>
                </ion-label>
                <div>
                    <ion-button *ngIf="!meeting.status"
                                [routerLink]="'/coun-meetings/create/custom/' + meeting.id"
                                color="primary">Editar Junta
                    </ion-button>
                    <ion-button *ngIf="meeting.status == 'in_progress'"
                                [routerLink]="'/coun-meetings/create/custom/' + meeting.id"
                                color="primary">Continuar Junta
                    </ion-button>
                    <ion-button *ngIf="meeting.status == 'finalized'"
                                (click)="openAct(environment.serverUrl + '/api/coun-meeting-pdf/' + meeting.id)"
                                color="primary">Descargar Acta
                    </ion-button>
                    <ion-button *ngIf="meeting.status == 'canceled'"
                                color="warning">Cancelada
                    </ion-button>
                </div>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="!counMeetingsService.counMeetings.length">
            <ion-item>
                <ion-label>Sin juntas del consejo</ion-label>
            </ion-item>
        </ng-container>

    </ion-list>
</ion-content>
