<form #commentsForm="ngForm" novalidate autocomplete="off">


    <!-- post_id -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'ENTRADA' | titlecase }}</ion-label>
        <ionic-selectable name="post_id"
                          id="post_id-field"
                          [required]="true"
                          [(ngModel)]="model.post"
                          [items]="commentsService.commentLists.Post"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('ENTRADAS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('ENTRADAS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setPostId($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.post_id">
            <div class="error-message" *ngIf="commentsForm.form.controls['post_id']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end post_id -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="commentsForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


            <!-- body -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'CUERPO' | titlecase }}</ion-label>
                <ion-textarea [(ngModel)]="model.body"
                              name="body"
                              id="body-field"
                              [required]="true"
                              rows="6"
                              placeholder=""></ion-textarea>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.body">
                    <div class="error-message" *ngIf="commentsForm.form.controls['body']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end body -->


</form>

<pre>
{{ model | json }}
</pre>
