<app-main-header title="{{'JUNTAS ARCHIVOS DE AGENDAS' | titlecase}}"
                 primaryLink="files/create"
                 primaryText="Crear {{'JUNTAS ARCHIVOS DE AGENDAS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('JUNTAS ARCHIVOS DE AGENDAS' | lowercase )"
                       (ionCancel)="this.filesService.searchValue = ''; filesService.getFiles()"
                       (keyup.enter)="filesService.getFiles()"
                       [(ngModel)]="filesService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && filesService.files?.length">
        <ion-card *ngFor="let file of filesService.files; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'ARCHIVO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.file }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'EXTENSION' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.extension }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'MIME' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.mime }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'URL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.url }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'ARCHIVABLE TIPO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ file?.fileable_type }}</div>
                    </ion-item>
                <ion-item class="item-transparent">
                    <ion-label position="fixed"><b>{{ 'ARCHIVABLE ID' | titlecase }}</b></ion-label>
                    <div class="wrap-text">{{ file?.filable_id }}</div>
                </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/files/' + file?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="filesService.deleteFile(file?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !filesService.files?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'JUNTAS ARCHIVOS DE AGENDAS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/files/create'" fill="outline" color="success" slot="end">
                Crear {{'JUNTAS ARCHIVOS DE AGENDAS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="filesService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="filesService.getFiles(filesService.meta.current_page - 1)"
                        [disabled]="filesService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{filesService.meta.current_page}}
                /{{filesService.meta.last_page}} {{filesService.meta.from}}-{{filesService.meta.to}}
                /{{filesService.meta.total}} </ion-button>
            <ion-button (click)="filesService.getFiles(filesService.meta.current_page + 1)"
                        [disabled]="filesService.meta.current_page == filesService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
