<app-main-header title="{{'AJUSTES GRUPOS' | titlecase}}"
                 primaryLink="setting-groups/create"
                 primaryText="Crear {{'AJUSTES GRUPOS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('AJUSTES GRUPOS' | lowercase )"
                       (ionCancel)="this.settingGroupsService.searchValue = ''; settingGroupsService.getSettingGroups()"
                       (keyup.enter)="settingGroupsService.getSettingGroups()"
                       [(ngModel)]="settingGroupsService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && settingGroupsService.settingGroups?.length">
        <ion-card *ngFor="let settingGroup of settingGroupsService.settingGroups; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ settingGroup?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CÓDIGO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ settingGroup?.code }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'AJUSTES' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="settingGroup?.settings?.length">
                                <ng-container *ngFor="let setting of settingGroup?.settings; let last = last">
                                    <a routerLink="/settings/{{ setting?.id }}/edit">{{ setting?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/setting-groups/' + settingGroup?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="settingGroupsService.deleteSettingGroup(settingGroup?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !settingGroupsService.settingGroups?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'AJUSTES GRUPOS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/setting-groups/create'" fill="outline" color="success" slot="end">
                Crear {{'AJUSTES GRUPOS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="settingGroupsService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="settingGroupsService.getSettingGroups(settingGroupsService.meta.current_page - 1)"
                        [disabled]="settingGroupsService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{settingGroupsService.meta.current_page}}
                /{{settingGroupsService.meta.last_page}} {{settingGroupsService.meta.from}}-{{settingGroupsService.meta.to}}
                /{{settingGroupsService.meta.total}} </ion-button>
            <ion-button (click)="settingGroupsService.getSettingGroups(settingGroupsService.meta.current_page + 1)"
                        [disabled]="settingGroupsService.meta.current_page == settingGroupsService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
