<!--<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">

        <ion-slide>
            <ion-row>
                <ion-col size="12"
                         size-md="8"
                         size-lg="6"
                         style="margin: 0 auto;">
                    <div class="slide">
                        <ion-card style="">
                            <img src="assets/images/1.png"/>
                        </ion-card>
                        <h2>Welcome</h2>
                        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and
                            a demonstration of proper code use.</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row>
                <ion-col size="12"
                         size-md="8"
                         size-lg="6"
                         style="margin: 0 auto;">

                    <ion-card style="">
                        <img src="assets/images/2.png"/>
                    </ion-card>
                    <h2>What is Ionic?</h2>
                    <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile
                        apps with web technologies like HTML, CSS, and JavaScript.</p>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row>
                <ion-col size="12"
                         size-md="8"
                         size-lg="6"
                         style="margin: 0 auto;">
                    <ion-card style="">
                        <img src="assets/images/3.png"/>
                    </ion-card>
                    <h2>What is Ionic Appflow?</h2>
                    <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework
                        that brings a totally new level of app development agility to mobile dev teams.</p>
                </ion-col>
            </ion-row>
        </ion-slide>

        <ion-slide>
            <ion-row>
                <ion-col size="12"
                         size-md="8"
                         size-lg="6"
                         style="margin: 0 auto;">
                    <ion-card style="">
                        <img src="assets/images/1.png"/>
                    </ion-card>
                    <h2>Ready to Play?</h2>
                    <ion-button [routerLink]="'/folder/Inbox'" (click)="splitPanel.show.next(true)" fill="clear">Continue
                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>

</ion-content>
