<app-main-header title="{{'OPERATIVIDAD REPUESTOS' | titlecase}}"
                 primaryLink="oper-replacements/create"
                 primaryText="Crear {{'OPERATIVIDAD REPUESTOS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('OPERATIVIDAD REPUESTOS' | lowercase )"
                       (ionCancel)="this.operReplacementsService.searchValue = ''; operReplacementsService.getOperReplacements()"
                       (keyup.enter)="operReplacementsService.getOperReplacements()"
                       [(ngModel)]="operReplacementsService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && operReplacementsService.operReplacements?.length">
        <ion-card *ngFor="let operReplacement of operReplacementsService.operReplacements; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operReplacement?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'FECHA' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operReplacement?.date | dateFormat:'DD/MM/YYYY' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'HORA' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operReplacement?.time | dateFormat:'HH:mm' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'GARANTIA' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operReplacement?.warranty }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'OPERATIVIDAD MAQUINARIA' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/oper-machines/{{ operReplacement?.oper_machine?.id }}/edit">{{ operReplacement?.oper_machine?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CONTRATISTAS OPERATIVOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/oper-contractors/{{ operReplacement?.oper_contractor?.id }}/edit">{{ operReplacement?.oper_contractor?.name }}</a></div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/oper-replacements/' + operReplacement?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="operReplacementsService.deleteOperReplacement(operReplacement?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !operReplacementsService.operReplacements?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'OPERATIVIDAD REPUESTOS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/oper-replacements/create'" fill="outline" color="success" slot="end">
                Crear {{'OPERATIVIDAD REPUESTOS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="operReplacementsService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="operReplacementsService.getOperReplacements(operReplacementsService.meta.current_page - 1)"
                        [disabled]="operReplacementsService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{operReplacementsService.meta.current_page}}
                /{{operReplacementsService.meta.last_page}} {{operReplacementsService.meta.from}}-{{operReplacementsService.meta.to}}
                /{{operReplacementsService.meta.total}} </ion-button>
            <ion-button (click)="operReplacementsService.getOperReplacements(operReplacementsService.meta.current_page + 1)"
                        [disabled]="operReplacementsService.meta.current_page == operReplacementsService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
