<app-main-header title="{{'EMPRESAS CONTACTOS' | titlecase}}"
                 primaryLink="comp-contacts/create"
                 primaryText="Crear {{'EMPRESAS CONTACTOS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('EMPRESAS CONTACTOS' | lowercase )"
                       (ionCancel)="this.compContactsService.searchValue = ''; compContactsService.getCompContacts()"
                       (keyup.enter)="compContactsService.getCompContacts()"
                       [(ngModel)]="compContactsService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && compContactsService.compContacts?.length">
        <ion-card *ngFor="let compContact of compContactsService.compContacts; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compContact?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'TELÉFONO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compContact?.phone }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CORREO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compContact?.email }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'PRINCIPAL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compContact?.main  ? 'Si' : 'No' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'EMPRESAS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/companies/{{ compContact?.company?.id }}/edit">{{ compContact?.company?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CARGOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/syst-positions/{{ compContact?.syst_position?.id }}/edit">{{ compContact?.syst_position?.name }}</a></div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/comp-contacts/' + compContact?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="compContactsService.deleteCompContact(compContact?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !compContactsService.compContacts?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'EMPRESAS CONTACTOS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/comp-contacts/create'" fill="outline" color="success" slot="end">
                Crear {{'EMPRESAS CONTACTOS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="compContactsService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="compContactsService.getCompContacts(compContactsService.meta.current_page - 1)"
                        [disabled]="compContactsService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{compContactsService.meta.current_page}}
                /{{compContactsService.meta.last_page}} {{compContactsService.meta.from}}-{{compContactsService.meta.to}}
                /{{compContactsService.meta.total}} </ion-button>
            <ion-button (click)="compContactsService.getCompContacts(compContactsService.meta.current_page + 1)"
                        [disabled]="compContactsService.meta.current_page == compContactsService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
