<form #categoriesForm="ngForm" novalidate autocomplete="off">


    <!-- post_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'ENTRADAS' | titlecase }}</ion-label>
        <ionic-selectable name="post_ids"
                          id="post_ids-field"
                          [(ngModel)]="model.posts"
                          [items]="categoriesService.categoryLists.Post"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('ENTRADAS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('ENTRADAS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setPostIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.post_ids">
            <div class="error-message" *ngIf="categoriesForm.form.controls['post_ids']?.hasError(validation.type)">
            {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end post_ids -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="categoriesForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


</form>

<pre>
{{ model | json }}
</pre>
