<app-main-header title="{{'CATEGORÍAS' | titlecase}}"
                 primaryLink="categories/create"
                 primaryText="Crear {{'CATEGORÍAS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('CATEGORÍAS' | lowercase )"
                       (ionCancel)="this.categoriesService.searchValue = ''; categoriesService.getCategories()"
                       (keyup.enter)="categoriesService.getCategories()"
                       [(ngModel)]="categoriesService.searchValue"></ion-searchbar>

    <ion-card>

        <ng-container *ngIf="!(loading.loading | async) && categoriesService.categories.length">
            <ion-item *ngFor="let category of categoriesService.categories; let index = index">
                <ion-label>
                    <h3>{{ 'NOMBRE' | titlecase }}: {{ category.name }}</h3>
                    <h3>{{ 'ENTRADAS' | titlecase }}:
                    <ng-container *ngIf="category.posts.length">
                        <ng-container *ngFor="let post of category.posts; let last = last">
                        <a routerLink="/posts/{{ post.id }}/edit">{{ post.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                </ion-label>


                <ion-button item-right fill="clear" color="success" [routerLink]="'/categories/' + category.id + '/edit'">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <!--<ion-button item-right fill="clear" color="success" (click)="null">
                    <ion-icon name="eye-outline"></ion-icon>
                </ion-button>-->
                <ion-button item-right fill="clear" color="danger" (click)="categoriesService.deleteCategory(category.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!(loading.loading | async) && !categoriesService.categories.length">
            <ion-item>
                <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
                <ion-label><h2>No se encontraron {{'CATEGORÍAS' | titlecase}}</h2></ion-label>
                <ion-button [routerLink]="'/categories/create'" fill="outline" color="success" slot="end">
                    Crear {{'CATEGORÍAS' | titlecase}}
                    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-row *ngIf="categoriesService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="categoriesService.getCategories(categoriesService.meta.current_page - 1)"
                        [disabled]="categoriesService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{categoriesService.meta.current_page}}
                /{{categoriesService.meta.last_page}} {{categoriesService.meta.from}}-{{categoriesService.meta.to}}
                /{{categoriesService.meta.total}} </ion-button>
            <ion-button (click)="categoriesService.getCategories(categoriesService.meta.current_page + 1)"
                        [disabled]="categoriesService.meta.current_page == categoriesService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
