<ion-content no-bounce>
    <div class="login-background"></div>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center ion-no-padding">
            <ion-col size-sm="8"
                     size-lg="6"
                     size-xl="4"
                     class="ion-align-self-center ion-no-padding">
                <div class="login-header ion-text-center">
                    <h1 [hidden]="true">{{environment.name}}</h1>
                    <a [routerLink]="'/landing'">
                        <img src="assets/images/NoahApp/logo-light-square.png"
                             style="max-height: 120px;">
                    </a>

                    <h6 style="margin-bottom: 0px;">v-{{ version }}</h6>
                </div>
                <div class="login-container"
                     *ngIf="!resetOk">
                    <ion-row class="ion-padding-horizontal">
                        <ion-col class="ion-text-center">
                            <ion-icon name="close-circle-outline"
                                      color="danger"
                                      class="icon-m ion-padding-vertical"></ion-icon>
                            <h2>No encontramos solicitudes validas para restablecer tu contraseña!</h2>
                            <p class="ion-text-justify">Por favor, confirma en tu correo electrónico el enlace que te
                                                        enviamos para restablecer tu contraseña.
                            </p>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="login-container"
                     *ngIf="resetOk">
                    <form #resetPasswordForm="ngForm"
                          (ngSubmit)="passwordReset()"
                          novalidate
                          autocomplete="off">
                        <ion-list>
                            <ion-list-header>Restablece tu contraseña</ion-list-header>
                            <ion-item lines="none">
                                <div class="ion-padding-vertical ion-text-justify">
                                    Por favor ingresa tu nueva contraseña.
                                </div>
                            </ion-item>
                            <ion-item lines="inset">
                                <ion-label color="medium"
                                           position="floating">
                                    Contraseña
                                </ion-label>
                                <ion-input type="password"
                                           name="password"
                                           id="password-field"
                                           required
                                           minlength="6"
                                           maxlength="16"
                                           [(ngModel)]="model.password"
                                           #password="ngModel"
                                           autocomplete="password"></ion-input>
                                <ion-icon slot="end"
                                          name="eye-outline"
                                          id="password-field-show"
                                          (click)="showPassword('password-field')"></ion-icon>
                            </ion-item>
                            <ion-text color="danger"
                                      [hidden]="(resetPasswordForm?.form?.controls?.password?.untouched || resetPasswordForm?.form?.controls?.password?.valid)">
                                <span class="ion-padding">Contraseña no valida</span>
                            </ion-text>

                            <ion-item lines="inset">
                                <ion-label color="medium"
                                           position="floating">
                                    Confirmar Contraseña
                                </ion-label>
                                <ion-input type="password"
                                           name="password_confirmation"
                                           id="password_confirmation-field"
                                           [equalTo]="password"
                                           required
                                           minlength="6"
                                           maxlength="16"
                                           [(ngModel)]="model.password_confirmation"
                                           #password_confirmation="ngModel"
                                           autocomplete="password_confirmation"></ion-input>
                                <ion-icon slot="end"
                                          name="eye-outline"
                                          id="password_confirmation-field-show"
                                          (click)="showPassword('password_confirmation-field')"></ion-icon>
                            </ion-item>
                            <ion-text color="danger"
                                      [hidden]="(resetPasswordForm?.form?.controls?.password_confirmation?.untouched || resetPasswordForm?.form?.controls?.password_confirmation?.valid)">
                                <span class="ion-padding">Confirmación no valida</span>
                            </ion-text>
                        </ion-list>
                        <div style="height: 1rem;"></div>
                        <div class="ion-padding-horizontal">
                            <ion-button type="submit"
                                        [disabled]="resetPasswordForm?.form?.invalid || isLoading"
                                        color="primary"
                                        expand="block">
                                Restablecer contraseña
                            </ion-button>
                        </div>
                        <div class="ion-padding-vertical ion-text-center">
                            <ion-button type="button"
                                        routerLink="/auth/login"
                                        color="primary"
                                        fill="clean">
                                Ingresar
                            </ion-button>
                            <ion-button type="button"
                                        color="primary"
                                        routerLink="/auth/register"
                                        fill="clean">
                                Registrarse
                            </ion-button>
                        </div>
                    </form>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
