<app-main-header title="{{'OPERATRIVIDAD AGENDAS' | titlecase}}"
                 primaryLink="oper-schedules/create"
                 primaryText="Crear {{'OPERATRIVIDAD AGENDAS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('OPERATRIVIDAD AGENDAS' | lowercase )"
                       (ionCancel)="this.operSchedulesService.searchValue = ''; operSchedulesService.getOperSchedules()"
                       (keyup.enter)="operSchedulesService.getOperSchedules()"
                       [(ngModel)]="operSchedulesService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && operSchedulesService.operSchedules?.length">
        <ion-card *ngFor="let operSchedule of operSchedulesService.operSchedules; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'TIEMPO REQUERIDO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.required_time }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'EMAIL DEL SUPOERVISOR' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.supervisor_email }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'TELÉFONO DEL AREA' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.area_phone }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'HORA INICIAL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.time_start | dateFormat:'HH:mm' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'HORA FINAL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.time_end | dateFormat:'HH:mm' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'PERIODICIDAD' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.periodicity | status }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'REQUIERE REPASAR' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.repass  ? 'Si' : 'No' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'SIGUIENTE EN' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ operSchedule?.next | dateFormat:'DD/MM/YYYY' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'UNIDADES HABITACIONALES AREAS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/hous-unit-areas/{{ operSchedule?.hous_unit_area?.id }}/edit">{{ operSchedule?.hous_unit_area?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'OPERATIVIDAD SECTORES' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/oper-sectors/{{ operSchedule?.oper_sector?.id }}/edit">{{ operSchedule?.oper_sector?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CONTRATISTAS OPERATIVOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/oper-contractors/{{ operSchedule?.oper_contractor?.id }}/edit">{{ operSchedule?.oper_contractor?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'MOVIMIENTOS OPERATIVOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="operSchedule?.oper_movements?.length">
                                <ng-container *ngFor="let operMovement of operSchedule?.oper_movements; let last = last">
                                    <a routerLink="/oper-movements/{{ operMovement?.id }}/edit">{{ operMovement?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/oper-schedules/' + operSchedule?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="operSchedulesService.deleteOperSchedule(operSchedule?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !operSchedulesService.operSchedules?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'OPERATRIVIDAD EGENDAS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/oper-schedules/create'" fill="outline" color="success" slot="end">
                Crear {{'OPERATRIVIDAD AGENDAS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="operSchedulesService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="operSchedulesService.getOperSchedules(operSchedulesService.meta.current_page - 1)"
                        [disabled]="operSchedulesService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{operSchedulesService.meta.current_page}}
                /{{operSchedulesService.meta.last_page}} {{operSchedulesService.meta.from}}-{{operSchedulesService.meta.to}}
                /{{operSchedulesService.meta.total}} </ion-button>
            <ion-button (click)="operSchedulesService.getOperSchedules(operSchedulesService.meta.current_page + 1)"
                        [disabled]="operSchedulesService.meta.current_page == operSchedulesService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
