<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/coun-meeting-citations'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="counMeetingCitationsService.storeCounMeetingCitation()"
                        color="success"
                        fill="clear"
                        [disabled]="!counMeetingCitationsService.counMeetingCitationsFormValid.value">
                        <ng-container *ngIf="!platform.is('mobile')">Guardar</ng-container>
                <ion-icon slot="end" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Crear {{'JUNTAS CITACIONES' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <app-coun-meeting-citations-form #counMeetingCitationForm [model]="counMeetingCitationsService.counMeetingCitation"></app-coun-meeting-citations-form>
    </ion-card>

</ion-content>
