<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/corr-packets'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="corrPacketsService.updateCorrPacket()"
                        color="success"
                        fill="clear"
                        [disabled]="!corrPacketsService.corrPacketsFormValid.value || type == 'view'">
                        <ng-container *ngIf="!platform.is('mobile')">Guardar</ng-container>
                <ion-icon slot="end" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Editar {{'CORRESPONDENCIA PAQUETES' | titlecase}}: {{ corrPacketsService.corrPacket?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
            <app-corr-packets-form #corrPacketForm
                                   [model]="corrPacketsService.corrPacket"
                                   [type]="type"
                                   [housUnitId]="corrPacketsService.corrPacket.hous_unit_id"></app-corr-packets-form>
    </ion-card>

</ion-content>
