<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!--<ion-button [routerLink]="'/visitors/parking/0'">
               <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
           </ion-button>-->
            <ion-back-button
                [text]="''"
                [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button color="success"
                        *ngIf="auth.userCan(['visi-parking.create'])"
                        (click)="visiRatesService.saveItem(visiRatesService.item, true)"
                        fill="clear"
                        [disabled]="!visiRateForm.valid">
                <ng-container *ngIf="!platform.is('mobile')">Guardar Tarifa</ng-container>
                <ion-icon slot="end"
                          color="success"
                          name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'TARIFAS' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="pages-content">
    <form #visiRateForm="ngForm"
          novalidate
          autocomplete="off">

        <!-- name -->
        <ion-item class="item-transparent">
            <ion-label>{{ 'Nombre' | titlecase }}</ion-label>
            <ion-input type="text"
                       [(ngModel)]="visiRatesService.item.name"
                       name="name"
                       #name="ngModel"
                       id="name-field"
                       [required]="true"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <div class="error-message"
                 *ngIf="!name.valid">
                Ingrese el nombre de la tarifa
            </div>
        </div>
        <!-- end name -->

        <!-- value -->
        <ion-item class="item-transparent">
            <ion-label>{{ 'Valor' | titlecase }}</ion-label>
            <ion-input type="number"
                       [(ngModel)]="visiRatesService.item.value"
                       name="value"
                       #value="ngModel"
                       id="value-field"
                       [required]="true"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <div class="error-message"
                 *ngIf="!value.valid">
                Ingrese el valor de la tarifa
            </div>
        </div>
        <!-- end value -->

    </form>
</ion-content>
