<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="null"
                        color="success"
                        fill="clear"
                        [disabled]="false">
                <ng-container *ngIf="!platform.is('mobile')">Firmar</ng-container>
                <ion-icon slot="end" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Crear {{'FIRMAR ACTA' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
    <ion-content fullscreen id="page-signature">
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col class="signature-canvas" id="signature-content">

                    <form #signatureForm="ngForm">
                        <signature-pad name="signature"
                                       [(ngModel)]="signature"
                                       [options]="signaturePadOptions"
                                       (onBeginEvent)="drawStart()"
                                       (onEndEvent)="drawComplete()"></signature-pad>
                    </form>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button fill="outline"
                                (click)="signatureClear()">
                        Limpiar
                    </ion-button>
                    <ion-button fill="outline"
                                color="success"
                                (click)="signatureSave()">
                        Guardar Firma
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div>
            {{signatureForm.value | json}}
        </div>


    </ion-content>
