<form #operPreventiveMaintenancesForm="ngForm" novalidate autocomplete="off">


    <!-- oper_machine_id -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'OPERATIVIDADMAQUINARIUM' | titlecase }}</ion-label>
        <ionic-selectable name="oper_machine_id"
                          id="oper_machine_id-field"
                          [required]="true"
                          [(ngModel)]="model.oper_machine"
                          [items]="operPreventiveMaintenancesService.operPreventiveMaintenanceLists.OperMachine"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('OPERATIVIDAD MAQUINARIA' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('OPERATIVIDAD MAQUINARIA' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setOperMachineId($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.oper_machine_id">
            <div class="error-message" *ngIf="operPreventiveMaintenancesForm.form.controls['oper_machine_id']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end oper_machine_id -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="operPreventiveMaintenancesForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


            <!-- date -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'FECHA' | titlecase }}</ion-label>
                <ion-datetime name="date"
                              id="date-field"
                              [doneText]="'Seleccionar'"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.date"
                              displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.date">
                    <div class="error-message" *ngIf="operPreventiveMaintenancesForm.form.controls['date']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end date -->


            <!-- time -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'HORA' | titlecase }}</ion-label>
                <ion-datetime name="time"
                              id="time-field"
                              [doneText]="'Seleccionar'"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.time"
                              displayFormat="HH:mm"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.time">
                    <div class="error-message" *ngIf="operPreventiveMaintenancesForm.form.controls['time']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end time -->


            <!-- next -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'SIGUIENTE EN' | titlecase }}</ion-label>
                <ion-datetime name="next"
                              id="next-field"
                              [doneText]="'Seleccionar'"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.next"
                              displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.next">
                    <div class="error-message" *ngIf="operPreventiveMaintenancesForm.form.controls['next']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end next -->


</form>
