<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content"
                  type="overlay"
                  [hidden]="!splitPanel.show.value">
            <ion-content>
                <div class="ion-text-center ion-no-padding">
                    <a [routerLink]="'/'">
                        <img [src]="darkEnabled() ? 'assets/images/NoahApp/logo-light-square.png' : 'assets/images/NoahApp/logo-dark-square.png'"
                             style="max-height: 82px;">
                    </a>
                </div>
                <ion-list id="inbox-list"
                          *ngIf="auth.userIsLogged()">
                    <ion-item lines="none">
                        <ion-avatar slot="start"
                                    style="background-color: #cccccc;">
                            <img [src]="auth.getUser().profile?.avatar ? auth.getUser().profile?.avatar : 'assets/images/avatar.svg'">
                        </ion-avatar>
                        <ion-label>
                            {{auth.getUser().name}}
                            <h3>{{auth.getUser().email}}</h3>
                        </ion-label>
                    </ion-item>

                </ion-list>
                <ion-list id="pages-list">
                    <!--                    <ion-list-header>Pages</ion-list-header>-->
                    <ion-item-divider *ngIf="auth.userIs(['super.admin'])">
                        Pages
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false"
                                     *ngIf="auth.userIs(['super.admin'])">
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLinkActiveOptions]="{exact: true}"
                                  [routerLink]="'/barcode-scanner'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Barcode Scanner</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLinkActiveOptions]="{exact: true}"
                                  [routerLink]="'/camera'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Camera</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLinkActiveOptions]="{exact: true}"
                                  [routerLink]="'/download'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Download</ion-label>
                        </ion-item>

                    </ion-menu-toggle>

                </ion-list>
                <ion-list id="admin-pages-list">
                    <ion-item-divider>
                        Mantenimiento Preventivo
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-machines'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Maquinaria</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-replacements'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Repuestos</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-preventive-maintenances'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Registrar mantenimiento</ion-label>
                        </ion-item>
                    </ion-menu-toggle>


                    <ion-item-divider>
                        Mantenimiento Correctivo
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-items'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Items</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-reasons'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Motivos</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-corrective-maintenances'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>PQR</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-maintenance-repairs'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Solucionar PQR</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item-divider>
                        Operatividad
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-meetings/create/custom'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Crear junta</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-meetings/list/custom'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Registrar juntas</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item-divider *ngIf="auth.userCan(['juntas.listar', 'juntas.crear'])">
                        Juntas del consejo
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerLinkActive]="'selected'"
                                  *ngIf="auth.userCan(['juntas.crear'])"
                                  [routerLink]="'/coun-meetings/create/custom'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Crear junta</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  *ngIf="auth.userCan(['juntas.listar'])"
                                  [routerLink]="'/coun-meetings/list/custom'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Registrar juntas</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item-divider *ngIf="auth.userCan(['buzon.listar'])">
                        Correspondencia
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false"
                                     *ngIf="auth.userCan(['buzon.listar'])">
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/corr-packets/postboxes'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>Buzones</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item-divider *ngIf="auth.userIs(['super.admin', 'admin'])">
                        Admin
                    </ion-item-divider>
                    <ion-menu-toggle auto-hide="false"
                                     *ngIf="auth.userIs(['super.admin', 'admin'])">
                        <ion-item [routerLinkActive]="'selected'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  [routerLink]="'/users'"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>USUARIOS</ion-label>
                        </ion-item>
                        <!-- generated section -->

                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/user-profiles'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>PERFILES DE USUARIOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-cities'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CIUDADES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-regions'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>DEPARTAMENTOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-countries'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>PAISES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/companies'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>EMPRESAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/comp-phones'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>TELÉFONOS DE EMPRESAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/comp-addresses'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>EMPRESAS DIRECCIONES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/comp-contacts'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>EMPRESAS CONTACTOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-positions'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CARGOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-parameters'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>PARAMETROS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/syst-parameter-groups'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>GRUPOS DE PARAMETROS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/comp-responsabilities'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>EMPRESAS RESPONSABILIDADES LEGALES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/hous-units'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>UNIDADES HABITACIONALES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/hous-unit-areas'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>UNIDADES HABITACIONALES AREAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-sectors'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD SECTORES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-meetings'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>JUNTAS DEL CONSEJO</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-meeting-agendas'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>JUNTAS AGENDAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-meeting-citations'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>JUNTAS CITACIONES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-schedules'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATRIVIDAD AJENDAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-contractors'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CONTRATISTAS OPERATIVOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-movements'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>MOVIMIENTOS OPERATIVOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/coun-members'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>JUNTAS MIEMBROS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/mail-templates'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CORREOS PLANTILLAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/mails'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CORREOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/files'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>JUNTAS ARCHIVOS DE AGENDAS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/corr-packets'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>CORRESPONDENCIA PAQUETES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/settings'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>AJUSTES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/setting-groups'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>AJUSTES GRUPOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/user-roles'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>USUARIOS ROLES</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/user-permissions'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>USUARIOS PERMISOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-machines'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD MAQUINARIA</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-preventive-maintenances'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD MTTO PREVENTIVOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-replacements'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD REPUESTOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-items'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD ITEMS MTTO CORRECTIVO</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-reasons'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD MOTIVOS MTTO CORRECTIVO</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-corrective-maintenances'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD MTTO CORRECTIVOS</ion-label>
                        </ion-item>
                        <ion-item [routerLinkActive]="'selected'"
                                  [routerLink]="'/oper-maintenance-repairs'"
                                  *ngIf="auth.userIs(['super.admin', 'admin'])"
                                  lines="none"
                                  detail="false">
                            <ion-icon slot="start"
                                      ios="bookmark-outline"
                                      md="bookmark-sharp"></ion-icon>
                            <ion-label>OPERATIVIDAD REPARACIONES</ion-label>
                        </ion-item>


                        <!-- end section -->
                    </ion-menu-toggle>
                </ion-list>

                <ion-list id="labels-list">
                    <ion-item-divider>
                        Opciones
                    </ion-item-divider>
                    <ion-item lines="none">
                        <ion-icon slot="start"
                                  [name]="dark ? 'moon-outline' : 'sunny-outline'"></ion-icon>
                        <ion-label>
                            {{ (dark ? 'Tema Oscuro' : 'Trema Claro') }}
                        </ion-label>
                        <ion-toggle id="themeToggle"
                                    slot="end"
                                    [(ngModel)]="dark"
                                    (ionChange)="updateDarkMode()"></ion-toggle>
                    </ion-item>

                    <ion-item *ngIf="!auth.userIsLogged()"
                              [routerLink]="'/auth/login'"
                              lines="none">
                        <ion-label>
                            Login
                        </ion-label>
                    </ion-item>

                    <ion-item *ngIf="auth.userIsLogged()"
                              [routerLink]="'/auth/logout'"
                              lines="none">
                        <ion-label>
                            Logout
                        </ion-label>
                    </ion-item>

                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
