<app-main-header title="JUNTAS AGENDAS"></app-main-header>

<ion-content>

        <ion-row>

            <ion-col size-md="3" size-sm="6" size-xs="12">
                <ion-card routerLink="/coun-meeting-agendas/list">
                    <div style="height: 120px; width: 100%; display: flex; align-items: center; justify-content: center;">
                        <ion-icon name="list-circle-outline" color="primary" class="icon-m"></ion-icon>
                    </div>
                    <ion-card-header>
                        <ion-card-subtitle class="ion-text-center">
                            Listar {{ 'JUNTAS AGENDAS'  | titlecase }}
                        </ion-card-subtitle>
                    </ion-card-header>

                </ion-card>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12">
                <ion-card routerLink="/coun-meeting-agendas/create">
                    <div style="height: 120px; width: 100%; display: flex; align-items: center; justify-content: center;">
                        <ion-icon name="add-circle-outline" color="success" class="icon-m"></ion-icon>
                    </div>
                    <ion-card-header>
                        <ion-card-subtitle class="ion-text-center">
                            Crear {{ 'JUNTAS AGENDAS' | titlecase }}
                        </ion-card-subtitle>
                    </ion-card-header>

                </ion-card>
            </ion-col>

        </ion-row>

</ion-content>
