<app-main-header title="{{'USUARIOS' | titlecase}}"
                 primaryLink="users/create"
                 primaryText="Crear {{'USUARIOS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('USUARIOS' | lowercase )"
                       (ionCancel)="this.usersService.searchValue = ''; usersService.getUsers()"
                       (keyup.enter)="usersService.getUsers()"
                       [(ngModel)]="usersService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && usersService.users?.length">
        <ion-card *ngFor="let user of usersService.users; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ user?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'EMAIL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ user?.email }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ user?.first_name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'APELLIDOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ user?.last_name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'CARGOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/syst-positions/{{ user?.syst_position?.id }}/edit">{{ user?.syst_position?.name }}</a></div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'PERFILES DE USUARIOS' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="user?.user_profiles?.length">
                                <ng-container *ngFor="let userProfile of user?.user_profiles; let last = last">
                                    <a routerLink="/user-profiles/{{ userProfile?.id }}/edit">{{ userProfile?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'JUNTAS CITACIONES' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="user?.coun_meeting_citations?.length">
                                <ng-container *ngFor="let counMeetingCitation of user?.coun_meeting_citations; let last = last">
                                    <a routerLink="/coun-meeting-citations/{{ counMeetingCitation?.id }}/edit">{{ counMeetingCitation?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'JUNTAS MIEMBROS' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="user?.coun_members?.length">
                                <ng-container *ngFor="let counMember of user?.coun_members; let last = last">
                                    <a routerLink="/coun-members/{{ counMember?.id }}/edit">{{ counMember?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'USUARIOS ROLES' | titlecase }}</b></ion-label>
                        <div class="wrap-text">
                            <ng-container *ngIf="user?.user_roles?.length">
                                <ng-container *ngFor="let userRole of user?.user_roles; let last = last">
                                    <a routerLink="/user-roles/{{ userRole?.id }}/edit">{{ userRole?.name }}</a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/users/' + user?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="usersService.deleteUser(user?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !usersService.users?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'USUARIOS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/users/create'" fill="outline" color="success" slot="end">
                Crear {{'USUARIOS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="usersService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="usersService.getUsers(usersService.meta.current_page - 1)"
                        [disabled]="usersService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{usersService.meta.current_page}}
                /{{usersService.meta.last_page}} {{usersService.meta.from}}-{{usersService.meta.to}}
                /{{usersService.meta.total}} </ion-button>
            <ion-button (click)="usersService.getUsers(usersService.meta.current_page + 1)"
                        [disabled]="usersService.meta.current_page == usersService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
