<app-main-header title="{{'USUARIOS' | titlecase}}"
                 primaryLink="users/create"
                 primaryText="Crear {{'USUARIOS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('USUARIOS' | lowercase )"
                       (ionCancel)="this.usersService.searchValue = ''; usersService.getUsers()"
                       (keyup.enter)="usersService.getUsers()"
                       [(ngModel)]="usersService.searchValue"></ion-searchbar>

    <ion-card>

        <ng-container *ngIf="!(loading.loading | async) && usersService.users.length">
            <ion-item *ngFor="let user of usersService.users; let index = index">
                <ion-label>
                    <h3>{{ 'NAME' | titlecase }}: {{ user.name }}</h3>
                    <h3>{{ 'EMAIL' | titlecase }}: {{ user.email }}</h3>
                    <h3>{{ 'ENTRADAS' | titlecase }}:
                    <ng-container *ngIf="user.posts.length">
                        <ng-container *ngFor="let post of user.posts; let last = last">
                        <a routerLink="/posts/{{ post.id }}/edit">{{ post.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                </ion-label>


                <ion-button item-right fill="clear" color="success" [routerLink]="'/users/' + user.id + '/edit'">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <!--<ion-button item-right fill="clear" color="success" (click)="null">
                    <ion-icon name="eye-outline"></ion-icon>
                </ion-button>-->
                <ion-button item-right fill="clear" color="danger" (click)="usersService.deleteUser(user.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!(loading.loading | async) && !usersService.users.length">
            <ion-item>
                <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
                <ion-label><h2>No se encontraron {{'USUARIOS' | titlecase}}</h2></ion-label>
                <ion-button [routerLink]="'/users/create'" fill="outline" color="success" slot="end">
                    Crear {{'USUARIOS' | titlecase}}
                    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-row *ngIf="usersService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="usersService.getUsers(usersService.meta.current_page - 1)"
                        [disabled]="usersService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{usersService.meta.current_page}}
                /{{usersService.meta.last_page}} {{usersService.meta.from}}-{{usersService.meta.to}}
                /{{usersService.meta.total}} </ion-button>
            <ion-button (click)="usersService.getUsers(usersService.meta.current_page + 1)"
                        [disabled]="usersService.meta.current_page == usersService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
