<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/posts'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="postsService.updatePost()"
                        color="success"
                        fill="outline"
                        [disabled]="!postsService.postsFormValid.value"> Guardar
                <ion-icon slot="icon-only" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Editar {{'ENTRADAS' | titlecase}}: {{ postsService.post?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
            <app-posts-form #postForm [model]="postsService.post"></app-posts-form>
    </ion-card>

</ion-content>
