<form #systPositionsForm="ngForm" novalidate autocomplete="off">


    <!-- user_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'USUARIOS' | titlecase }}</ion-label>
        <ionic-selectable name="user_ids"
                          id="user_ids-field"
                          [(ngModel)]="model.users"
                          [items]="systPositionsService.systPositionLists.User"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('USUARIOS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('USUARIOS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setUserIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.user_ids">
            <div class="error-message" *ngIf="systPositionsForm.form.controls['user_ids']?.hasError(validation.type)">
            {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end user_ids -->


    <!-- comp_contact_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'EMPRESAS CONTACTOS' | titlecase }}</ion-label>
        <ionic-selectable name="comp_contact_ids"
                          id="comp_contact_ids-field"
                          [(ngModel)]="model.comp_contacts"
                          [items]="systPositionsService.systPositionLists.CompContact"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('EMPRESAS CONTACTOS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('EMPRESAS CONTACTOS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setCompContactIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.comp_contact_ids">
            <div class="error-message" *ngIf="systPositionsForm.form.controls['comp_contact_ids']?.hasError(validation.type)">
            {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end comp_contact_ids -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="systPositionsForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


            <!-- code -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'CÓDIGO' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.code"
                            type="text"
                            name="code"
                            id="code-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.code">
                    <div class="error-message" *ngIf="systPositionsForm.form.controls['code']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end code -->


</form>
