<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/syst-parameter-groups'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="systParameterGroupsService.updateSystParameterGroup()"
                        color="success"
                        fill="clear"
                        [disabled]="!systParameterGroupsService.systParameterGroupsFormValid.value">
                        <ng-container *ngIf="!platform.is('mobile')">Guardar</ng-container>
                <ion-icon slot="end" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Editar {{'GRUPOS DE PARAMETROS' | titlecase}}: {{ systParameterGroupsService.systParameterGroup?.name }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
            <app-syst-parameter-groups-form #systParameterGroupForm [model]="systParameterGroupsService.systParameterGroup"></app-syst-parameter-groups-form>
    </ion-card>

</ion-content>
