<form #systParameterGroupsForm="ngForm" novalidate autocomplete="off">


    <!-- syst_parameter_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'PARAMETROS' | titlecase }}</ion-label>
        <ionic-selectable name="syst_parameter_ids"
                          id="syst_parameter_ids-field"
                          [(ngModel)]="model.syst_parameters"
                          [items]="systParameterGroupsService.systParameterGroupLists.SystParameter"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('PARAMETROS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('PARAMETROS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setSystParameterIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.syst_parameter_ids">
            <div class="error-message" *ngIf="systParameterGroupsForm.form.controls['syst_parameter_ids']?.hasError(validation.type)">
            {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end syst_parameter_ids -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="systParameterGroupsForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


            <!-- code -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'CÓDIGO' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.code"
                            type="text"
                            name="code"
                            id="code-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.code">
                    <div class="error-message" *ngIf="systParameterGroupsForm.form.controls['code']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end code -->


</form>
