<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/categories'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="categoriesService.storeCategory()"
                        color="success"
                        fill="outline"
                        [disabled]="!categoriesService.categoriesFormValid.value"> Guardar
                <ion-icon slot="icon-only" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Crear {{'CATEGORÍAS' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <app-categories-form #categoryForm [model]="categoriesService.category"></app-categories-form>
    </ion-card>

</ion-content>
