<app-main-header title="{{'TELÉFONOS DE EMPRESAS' | titlecase}}"
                 primaryLink="comp-phones/create"
                 primaryText="Crear {{'TELÉFONOS DE EMPRESAS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('TELÉFONOS DE EMPRESAS' | lowercase )"
                       (ionCancel)="this.compPhonesService.searchValue = ''; compPhonesService.getCompPhones()"
                       (keyup.enter)="compPhonesService.getCompPhones()"
                       [(ngModel)]="compPhonesService.searchValue"></ion-searchbar>

    <ng-container *ngIf="!(loading.loading | async) && compPhonesService.compPhones?.length">
        <ion-card *ngFor="let compPhone of compPhonesService.compPhones; let index = index">
            <ion-list>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NOMBRE' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compPhone?.name }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'NÚMERO' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compPhone?.number }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'PRINCIPAL' | titlecase }}</b></ion-label>
                        <div class="wrap-text">{{ compPhone?.main  ? 'Si' : 'No' }}</div>
                    </ion-item>
                    <ion-item class="item-transparent">
                        <ion-label position="fixed"><b>{{ 'EMPRESAS' | titlecase }}</b></ion-label>
                        <div class="wrap-text"><a routerLink="/companies/{{ compPhone?.company?.id }}/edit">{{ compPhone?.company?.name }}</a></div>
                    </ion-item>
            </ion-list>
            <ion-footer>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button color="success" size="small" fill="clear" [routerLink]="'/comp-phones/' + compPhone?.id + '/edit'">
                            <ion-icon name="create-outline"></ion-icon>
                            <div>Editar</div>
                        </ion-button>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-button color="danger" size="small" fill="clear" (click)="compPhonesService.deleteCompPhone(compPhone?.id)">
                            <ion-icon name="trash-outline"></ion-icon>
                            <div>Eliminar</div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-footer>
        </ion-card>
    </ng-container>

    <ng-container *ngIf="!(loading.loading | async) && !compPhonesService.compPhones?.length">
        <ion-item>
            <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
            <ion-label><h2>No se encontraron {{'TELÉFONOS DE EMPRESAS' | titlecase}}</h2></ion-label>
            <ion-button [routerLink]="'/comp-phones/create'" fill="outline" color="success" slot="end">
                Crear {{'TELÉFONOS DE EMPRESAS' | titlecase}}
                <ion-icon name="add-circle-outline" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ng-container>

</ion-content>

<ion-footer class="lists-footer">
    <ion-row *ngIf="compPhonesService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="compPhonesService.getCompPhones(compPhonesService.meta.current_page - 1)"
                        [disabled]="compPhonesService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{compPhonesService.meta.current_page}}
                /{{compPhonesService.meta.last_page}} {{compPhonesService.meta.from}}-{{compPhonesService.meta.to}}
                /{{compPhonesService.meta.total}} </ion-button>
            <ion-button (click)="compPhonesService.getCompPhones(compPhonesService.meta.current_page + 1)"
                        [disabled]="compPhonesService.meta.current_page == compPhonesService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
