<form #postsForm="ngForm" novalidate autocomplete="off">
    <ion-item>
        <ion-label>{{ 'USUARIO' | titlecase }}</ion-label>
        <ionic-selectable name="user_id"
                          id="user_id-field"
                          [required]="true"
                          [(ngModel)]="model.user"
                          [items]="postsService.postLists.User"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('USUARIO' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('USUARIO' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setUserId($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.user_id">
            <div class="error-message" *ngIf="postsForm.form.controls['user_id']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label>{{ 'CATEGORÍA' | titlecase }}</ion-label>
        <ionic-selectable name="category_id"
                          id="category_id-field"
                          [(ngModel)]="model.category"
                          [items]="postsService.postLists.Category"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('CATEGORÍA' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('CATEGORÍA' | titlecase) + ' que coincida'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setCategoryId($event)">
        </ionic-selectable>
    </ion-item>

    <ion-item>
        <ion-label>{{ 'ETIQUETAS' | titlecase }}</ion-label>
        <ionic-selectable name="tag_ids"
                          id="tag_ids-field"
                          [(ngModel)]="model.tags"
                          [items]="postsService.postLists.Tag"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('ETIQUETAS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('ETIQUETAS' | titlecase) + ' que coincida'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setTagIds($event)">
        </ionic-selectable>
    </ion-item>

    <ion-item>
        <ion-label>{{ 'IMÁGENES' | titlecase }}</ion-label>
        <ionic-selectable name="image_ids"
                          id="image_ids-field"
                          [(ngModel)]="model.images"
                          [items]="postsService.postLists.Image"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('IMÁGENES' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('IMÁGENES' | titlecase) + ' que coincida'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setImageIds($event)">
        </ionic-selectable>
    </ion-item>

    <ion-item>
        <ion-label>{{ 'COMENTARIOS' | titlecase }}</ion-label>
        <ionic-selectable name="comment_ids"
                          id="comment_ids-field"
                          [required]="true"
                          [(ngModel)]="model.comments"
                          [items]="postsService.postLists.Comment"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('COMENTARIOS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('COMENTARIOS' | titlecase) + ' que coincida'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setCommentIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.comment_ids">
            <div class="error-message" *ngIf="postsForm.form.controls['comment_ids']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <!-- date time-->
    <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime name="from_date"
                      id="from_date-field"
                      [required]="true"
                      [doneText]="'Seleccionar'"
                      [cancelText]="'Cancelar'"
                      [(ngModel)]="model.from_date"
                      displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.from_date">
            <div class="error-message" *ngIf="postsForm.form.controls['from_date']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label>Hasta</ion-label>
        <ion-datetime name="to_date"
                      id="to_date-field"
                      [required]="true"
                      [doneText]="'Seleccionar'"
                      [cancelText]="'Cancelar'"
                      [(ngModel)]="model.to_date"
                      displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.from_date">
            <div class="error-message" *ngIf="postsForm.form.controls['from_date']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label>Aceptado</ion-label>
        <ion-toggle name="accepted"
                    id="accepted-field"
                    [required]="true"
                    [(ngModel)]="model.accepted"></ion-toggle>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.accepted">
            <div class="error-message" *ngIf="postsForm.form.controls['accepted']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label>Fecha de promoción</ion-label>
        <ion-datetime name="promotion_date"
                      id="promotion_date-field"
                      [required]="false"
                      [doneText]="'Seleccionar'"
                      [cancelText]="'Cancelar'"
                      [(ngModel)]="model.promotion_date"
                      displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.promotion_date">
            <div class="error-message" *ngIf="postsForm.form.controls['promotion_date']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input type="text"
                   name="name"
                   id="name-field"
                   [required]="true"
                   [(ngModel)]="model.name"></ion-input>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
            <div class="error-message" *ngIf="postsForm.form.controls['name']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>

    <ion-item>
        <ion-label position="fixed">Código</ion-label>
        <ion-input type="text"
                   name="code"
                   id="code-field"
                   [required]="true"
                   [(ngModel)]="model.code"></ion-input>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.code">
            <div class="error-message" *ngIf="postsForm.form.controls['code']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>


</form>

<pre>
{{postsService.post | json}}
</pre>
