<form #postsForm="ngForm" novalidate autocomplete="off">


    <!-- user_id -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'USUARIO' | titlecase }}</ion-label>
        <ionic-selectable name="user_id"
                          id="user_id-field"
                          [required]="true"
                          [(ngModel)]="model.user"
                          [items]="postsService.postLists.User"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('USUARIOS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('USUARIOS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setUserId($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.user_id">
            <div class="error-message" *ngIf="postsForm.form.controls['user_id']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end user_id -->


    <!-- category_id -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'CATEGORÍA' | titlecase }}</ion-label>
        <ionic-selectable name="category_id"
                          id="category_id-field"
                          [required]="true"
                          [(ngModel)]="model.category"
                          [items]="postsService.postLists.Category"
                          itemValueField="id"
                          itemTextField="name"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('CATEGORÍAS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('CATEGORÍAS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setCategoryId($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.category_id">
            <div class="error-message" *ngIf="postsForm.form.controls['category_id']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end category_id -->


    <!-- tag_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'ETIQUETAS' | titlecase }}</ion-label>
        <ionic-selectable name="tag_ids"
                          id="tag_ids-field"
                          [(ngModel)]="model.tags"
                          [items]="postsService.postLists.Tag"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('ETIQUETAS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('ETIQUETAS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setTagIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.tag_ids">
            <div class="error-message" *ngIf="postsForm.form.controls['tag_ids']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end tag_ids -->


    <!-- comment_ids
    <ion-item class="item-transparent">
        <ion-label>{{ 'COMENTARIOS' | titlecase }}</ion-label>
        <ionic-selectable name="comment_ids"
                          id="comment_ids-field"
                          [(ngModel)]="model.comments"
                          [items]="postsService.postLists.Comment"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('COMENTARIOS' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('COMENTARIOS' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setCommentIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.comment_ids">
            <div class="error-message" *ngIf="postsForm.form.controls['comment_ids']?.hasError(validation.type)">
            {{ validation.message }}
            </div>
        </ng-container>
    </div>
    end comment_ids -->


    <!-- image_ids -->
    <ion-item class="item-transparent">
        <ion-label>{{ 'IMÁGENES' | titlecase }}</ion-label>
        <ionic-selectable name="image_ids"
                          id="image_ids-field"
                          [(ngModel)]="model.images"
                          [items]="postsService.postLists.Image"
                          itemValueField="id"
                          itemTextField="name"
                          [isMultiple]="true"
                          [canClear]="true"
                          [hasConfirmButton]="true"
                          [confirmButtonText]="'Seleccionar'"
                          [searchPlaceholder]="'Buscar ' + ('IMÁGENES' | titlecase)"
                          [searchFailText]="'No se encontro ' + ('IMÁGENES' | titlecase) + ' que coincida!'"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [canSearch]="true"
                          (onChange)="setImageIds($event)">
        </ionic-selectable>
    </ion-item>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.image_ids">
            <div class="error-message" *ngIf="postsForm.form.controls['image_ids']?.hasError(validation.type)">
                {{ validation.message }}
            </div>
        </ng-container>
    </div>
    <!-- end image_ids -->


            <!-- name -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'NOMBRE' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.name"
                            type="text"
                            name="name"
                            id="name-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.name">
                    <div class="error-message" *ngIf="postsForm.form.controls['name']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end name -->


            <!-- summary -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'RESUMEN' | titlecase }}</ion-label>
                <ion-textarea [(ngModel)]="model.summary"
                              name="summary"
                              id="summary-field"
                              [required]="true"
                              rows="6"
                              placeholder=""></ion-textarea>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.summary">
                    <div class="error-message" *ngIf="postsForm.form.controls['summary']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end summary -->


            <!-- from_date -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'DESDE' | titlecase }}</ion-label>
                <ion-datetime name="from_date"
                              id="from_date-field"
                              [doneText]="'Seleccionar'"
                              max="2040-12-31"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.from_date"
                              displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.from_date">
                    <div class="error-message" *ngIf="postsForm.form.controls['from_date']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end from_date -->


            <!-- to_date -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'HASTA' | titlecase }}</ion-label>
                <ion-datetime name="to_date"
                              id="to_date-field"
                              [doneText]="'Seleccionar'"
                              max="2040-12-31"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.to_date"
                              displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.to_date">
                    <div class="error-message" *ngIf="postsForm.form.controls['to_date']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end to_date -->


            <!-- accepted -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'ACEPTADO' | titlecase }}</ion-label>
                <ion-toggle name="accepted"
                            id="accepted-field"
                            slot="end"
                            [(ngModel)]="model.accepted"></ion-toggle>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.accepted">
                    <div class="error-message" *ngIf="postsForm.form.controls['accepted']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end accepted -->


            <!-- promotion_date -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'FECHA DE PROMICIÓN' | titlecase }}</ion-label>
                <ion-datetime name="promotion_date"
                              id="promotion_date-field"
                              [doneText]="'Seleccionar'"
                              max="2040-12-31"
                              [cancelText]="'Cancelar'"
                              [(ngModel)]="model.promotion_date"
                              displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.promotion_date">
                    <div class="error-message" *ngIf="postsForm.form.controls['promotion_date']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end promotion_date -->


            <!-- content -->
            <ion-item class="item-transparent">
                <ion-label position="stacked" style="font-size: 1rem;">{{ 'CONTENIDO' | titlecase }}</ion-label>
                <input [ngxSummernote]
                       name="content"
                       id="content-field"
                       [(ngModel)]="model.content">
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.content">
                    <div class="error-message" *ngIf="postsForm.form.controls['content']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end content -->


            <!-- code -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'CÓDIGO' | titlecase }}</ion-label>
                <ion-input [(ngModel)]="model.code"
                            type="text"
                            name="code"
                            id="code-field"
                            [required]="true"
                            placeholder=""></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.code">
                    <div class="error-message" *ngIf="postsForm.form.controls['code']?.hasError(validation.type)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <!-- end code -->


            <!-- status -->
            <ion-item class="item-transparent">
                <ion-label>{{ 'ESTADO' | titlecase }}</ion-label>
                <ion-select [(ngModel)]="model.status"
                            [required]="true"
                            name="status"
                            id="status-field"
                            okText="Seleccionar"
                            cancelText="Cancelar">
                    <ion-select-option value="active">{{ 'Activo' | titlecase }}</ion-select-option>
                    <ion-select-option value="inactive">{{ 'Inactivo' | titlecase }}</ion-select-option>
            </ion-select>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.status">
                <div class="error-message" *ngIf="postsForm.form.controls['status']?.hasError(validation.type)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <!-- end status -->


</form>

<pre>
{{ model | json }}
</pre>
