<ion-header translucent="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-toggle auto-hide="false" menu="main-menu">
              <ion-button (click)="toggleMenu()">
                  <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
          </ion-menu-toggle>
      </ion-buttons>
      <ion-buttons slot="primary">
          <ion-button color="success"
                      (click)="settingGroupsService.settingGroup = {}; openModal('Crear')">
              <ion-icon slot="icon-only" [name]="'add-circle-outline'"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>Grupos de parametros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-setting-groups-list></app-setting-groups-list>

</ion-content>
