<ion-content no-bounce>
    <div class="login-background"></div>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center ion-no-padding">
            <ion-col size-sm="8"
                     size-lg="6"
                     size-xl="4"
                     class="ion-align-self-center ion-no-padding">
                <div class="login-header ion-text-center">
                    <h1 [hidden]="true">{{environment.name}}</h1>
                    <a [routerLink]="'/landing'">
                        <img src="assets/images/NoahApp/logo-light-square.png"
                             style="max-height: 120px;">
                    </a>

                    <h6 style="margin-bottom: 0px;">v-{{ version }}</h6>
                </div>
                <div class="login-container"
                     *ngIf="resetOk">
                    <ion-row class="ion-padding-horizontal">
                        <ion-col class="ion-text-center">
                            <ion-icon name="checkmark-circle-outline"
                                      color="success"
                                      class="icon-m ion-padding-vertical"></ion-icon>
                            <h2>Soliciaste restablecer tu contraseña!</h2>
                            <p class="ion-text-justify">Por favor, confirma en tu correo electrónico el enlace que te
                                                        hemos enviado para restablecer tu contraseña.
                            </p>
                            <p class="ion-text-justify">Si en cinco minútos no has recibido el email haz click en el
                                                        siguiente enlace para volverlo a intentar.
                            </p>
                            <ion-button fill="clear"
                                        (click)="resetOk = false">Volver a intentar
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="login-container"
                     *ngIf="!resetOk">
                    <form #forgotForm="ngForm"
                          (ngSubmit)="passwordRecoverRequest()"
                          novalidate
                          autocomplete="off">
                        <ion-list>
                            <ion-list-header>Olvidaste tu contraseña?</ion-list-header>
                            <ion-item lines="none">
                                <div class="ion-padding-vertical ion-text-justify">
                                    Si olvidaste tu contraseña ingresa tu correo electrónico para que te enviemos un
                                    enlace para poder restablecerla.
                                </div>
                            </ion-item>
                            <ion-item lines="inset">
                                <ion-label color="medium"
                                           position="floating">
                                    Correo electrónico
                                </ion-label>
                                <ion-input type="text"
                                           name="email"
                                           id="email-field"
                                           email
                                           required
                                           [(ngModel)]="model.email"
                                           autocomplete="email"></ion-input>
                            </ion-item>
                            <ion-text color="danger"
                                      [hidden]="(forgotForm?.form?.controls?.email?.untouched || forgotForm?.form?.controls?.email?.valid)">
                                <span class="ion-padding">Correo electónico no valido</span>
                            </ion-text>
                        </ion-list>
                        <div style="height: 1rem;"></div>
                        <div class="ion-padding-horizontal">
                            <ion-button type="submit"
                                        [disabled]="forgotForm?.form?.invalid || isLoading"
                                        color="primary"
                                        expand="block">
                                Restablecer contraseña
                            </ion-button>
                        </div>
                        <div class="ion-padding-vertical ion-text-center">
                            <ion-button type="button"
                                        routerLink="/auth/login"
                                        color="primary"
                                        fill="clean">
                                Ingresar
                            </ion-button>
                            <ion-button type="button"
                                        color="primary"
                                        routerLink="/auth/register"
                                        fill="clean">
                                Registrarse
                            </ion-button>
                        </div>
                    </form>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
