<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/corr-packets'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="corrPacketsService.storeCorrPacket()"
                        color="success"
                        fill="clear"
                        [disabled]="!corrPacketsService.corrPacketsFormValid.value">
                        <ng-container *ngIf="!platform.is('mobile')">Guardar</ng-container>
                <ion-icon slot="end" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Crear {{'CORRESPONDENCIA PAQUETES' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <app-corr-packets-form #corrPacketForm
                               type="Recibir"
                               [model]="corrPacketsService.corrPacket"
                               [housUnitId]="this.route.snapshot.paramMap.get('housUnitId')"></app-corr-packets-form>
    </ion-card>

</ion-content>
