<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <!-- <ion-button [routerLink]="'/comments'">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button> -->
            <ion-back-button
              [text]="''"
              [icon]="'arrow-back-outline'">
            </ion-back-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <ion-button (click)="commentsService.storeComment()"
                        color="success"
                        fill="outline"
                        [disabled]="!commentsService.commentsFormValid.value"> Guardar
                <ion-icon slot="icon-only" color="success" name="save-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Crear {{'COMENTARIOS' | titlecase}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card>
        <app-comments-form #commentForm [model]="commentsService.comment"></app-comments-form>
    </ion-card>

</ion-content>
