<app-main-header title="{{'IMÁGENES' | titlecase}}"
                 primaryLink="images/create"
                 primaryText="Crear {{'IMÁGENES' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('IMÁGENES' | lowercase )"
                       (ionCancel)="this.imagesService.searchValue = ''; imagesService.getImages()"
                       (keyup.enter)="imagesService.getImages()"
                       [(ngModel)]="imagesService.searchValue"></ion-searchbar>

    <ion-card>

        <ng-container *ngIf="!(loading.loading | async) && imagesService.images.length">
            <ion-item *ngFor="let image of imagesService.images; let index = index">
                <ion-label>
                    <h3>{{ 'NOMBRE' | titlecase }}: {{ image.name }}</h3>
                    <h3>{{ 'URL' | titlecase }}: {{ image.url }}</h3>
                    <h3>{{ 'ENTRADAS' | titlecase }}:
                    <ng-container *ngIf="image.posts.length">
                        <ng-container *ngFor="let post of image.posts; let last = last">
                        <a routerLink="/posts/{{ post.id }}/edit">{{ post.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                </ion-label>


                <ion-button item-right fill="clear" color="success" [routerLink]="'/images/' + image.id + '/edit'">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <!--<ion-button item-right fill="clear" color="success" (click)="null">
                    <ion-icon name="eye-outline"></ion-icon>
                </ion-button>-->
                <ion-button item-right fill="clear" color="danger" (click)="imagesService.deleteImage(image.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!(loading.loading | async) && !imagesService.images.length">
            <ion-item>
                <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
                <ion-label><h2>No se encontraron {{'IMÁGENES' | titlecase}}</h2></ion-label>
                <ion-button [routerLink]="'/images/create'" fill="outline" color="success" slot="end">
                    Crear {{'IMÁGENES' | titlecase}}
                    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-row *ngIf="imagesService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="imagesService.getImages(imagesService.meta.current_page - 1)"
                        [disabled]="imagesService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{imagesService.meta.current_page}}
                /{{imagesService.meta.last_page}} {{imagesService.meta.from}}-{{imagesService.meta.to}}
                /{{imagesService.meta.total}} </ion-button>
            <ion-button (click)="imagesService.getImages(imagesService.meta.current_page + 1)"
                        [disabled]="imagesService.meta.current_page == imagesService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
