<ion-item>
    <ion-label position="floating">{{label}}</ion-label>
    <ng-container *ngIf="list?.length">
        <ionic-selectable #select
                          (onChange)="writeValue($event)"
                          [(ngModel)]="value"
                          [items]="list"
                          [required]="required"
                          [minlength]="minlength"
                          [maxlength]="maxlength"
                          [name]="name"
                          [id]="name + '-field'"
                          [itemValueField]="itemValueField"
                          [itemTextField]="itemTextField"
                          [canClear]="true"
                          [canSearch]="true"
                          [isMultiple]="true"
                          [closeButtonText]="'Cancelar'"
                          [clearButtonText]="'Limpiar'"
                          [addButtonText]="'Agregar'"
                          [confirmButtonText]="'Agregar'"
                          [searchPlaceholder]="'Buscar'"
                          [closeButtonSlot]="'start'">
            <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                    <ion-row>
                        <ion-col *ngIf="select.canClear" size="3">
                            <ion-button fill="clear"
                                        (click)="this.select.clear();this.select.close()"
                                        [disabled]="!select.itemsToConfirm.length">
                                {{select.clearButtonText}}
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button fill="clear"
                                        (click)="this.select.toggleItems(this.select.itemsToConfirm.length ? false : true)">
                                {{select.itemsToConfirm.length ? 'Deseleccionar' : 'Seleccionar'}}
                                Todo
                            </ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button fill="clear"
                                        (click)="this.select.confirm();this.select.close()">
                                {{select.confirmButtonText}}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-toolbar>
            </ng-template>
        </ionic-selectable>
    </ng-container>

</ion-item>
