<app-main-header title="{{'ENTRADAS' | titlecase}}"
                 primaryLink="posts/create"
                 primaryText="Crear {{'ENTRADAS' | lowercase}}"
                 primaryIcon="add-circle-outline"></app-main-header>

<ion-content id="pages-content">

    <ion-searchbar showCancelButton="focus"
                       [cancelButtonText]="'Cancelar'"
                       [placeholder]="'Buscar ' + ('ENTRADAS' | lowercase )"
                       (ionCancel)="this.postsService.searchValue = ''; postsService.getPosts()"
                       (keyup.enter)="postsService.getPosts()"
                       [(ngModel)]="postsService.searchValue"></ion-searchbar>

    <ion-card>

        <ng-container *ngIf="!(loading.loading | async) && postsService.posts.length">
            <ion-item *ngFor="let post of postsService.posts; let index = index">
                <ion-label>
                    <h3>{{ 'NOMBRE' | titlecase }}: {{ post.name }}</h3>
                    <h3>{{ 'RESUMEN' | titlecase }}: {{ post.summary }}</h3>
                    <h3>{{ 'DESDE' | titlecase }}: {{ post.from_date | dateFormat:'DD/MM/YYYY HH:mm' }}</h3>
                    <h3>{{ 'HASTA' | titlecase }}: {{ post.to_date | dateFormat:'DD/MM/YYYY HH:mm' }}</h3>
                    <h3>{{ 'ACEPTADO' | titlecase }}: {{ post.accepted ? 'Si' : 'No' }}</h3>
                    <h3>{{ 'FECHA DE PROMICIÓN' | titlecase }}: {{ post.promotion_date | dateFormat:'DD/MM/YYYY' }}</h3>
                    <h3>{{ 'IMÁGEN PROMOCIÓN' | titlecase }}: <a *ngIf="post.promotion_image" [href]="post.promotion_image" target="_blank">Ver archivo</a><span *ngIf="!post.promotion_image">Sin archivo</span></h3>
                    <h3>{{ 'CONTENIDO' | titlecase }}: {{ post.content | stripHtml }}</h3>
                    <h3>{{ 'CÓDIGO' | titlecase }}: {{ post.code }}</h3>
                    <h3>{{ 'ESTADO' | titlecase }}: {{ post.status | status }}</h3>
                    <h3>{{ 'USUARIOS' | titlecase }}: <a routerLink="/users/{{ post.user.id }}/edit">{{ post.user.name }}</a></h3>
                    <h3>{{ 'CATEGORÍAS' | titlecase }}: <a routerLink="/categories/{{ post.category.id }}/edit">{{ post.category.name }}</a></h3>
                    <h3>{{ 'ETIQUETAS' | titlecase }}:
                    <ng-container *ngIf="post.tags.length">
                        <ng-container *ngFor="let tag of post.tags; let last = last">
                        <a routerLink="/tags/{{ tag.id }}/edit">{{ tag.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                    <h3>{{ 'COMENTARIOS' | titlecase }}:
                    <ng-container *ngIf="post.comments.length">
                        <ng-container *ngFor="let comment of post.comments; let last = last">
                        <a routerLink="/comments/{{ comment.id }}/edit">{{ comment.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                    <h3>{{ 'IMÁGENES' | titlecase }}:
                    <ng-container *ngIf="post.images.length">
                        <ng-container *ngFor="let image of post.images; let last = last">
                        <a routerLink="/images/{{ image.id }}/edit">{{ image.name }}</a><span *ngIf="!last">, </span>
                        </ng-container>
                    </ng-container>
                    </h3>
                </ion-label>


                <ion-button item-right fill="clear" color="success" [routerLink]="'/posts/' + post.id + '/edit'">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <!--<ion-button item-right fill="clear" color="success" (click)="null">
                    <ion-icon name="eye-outline"></ion-icon>
                </ion-button>-->
                <ion-button item-right fill="clear" color="danger" (click)="postsService.deletePost(post.id)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="!(loading.loading | async) && !postsService.posts.length">
            <ion-item>
                <ion-icon class="text-warning" name="warning-outline" slot="start"></ion-icon>
                <ion-label><h2>No se encontraron {{'ENTRADAS' | titlecase}}</h2></ion-label>
                <ion-button [routerLink]="'/posts/create'" fill="outline" color="success" slot="end">
                    Crear {{'ENTRADAS' | titlecase}}
                    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
                </ion-button>
            </ion-item>
        </ng-container>

    </ion-card>

</ion-content>

<ion-footer>
    <ion-row *ngIf="postsService.meta">
        <ion-col class="ion-text-center" size="12">
            <ion-button (click)="postsService.getPosts(postsService.meta.current_page - 1)"
                        [disabled]="postsService.meta.current_page == 1"
                        fill="clear">
                <ion-icon slot="end" name="play-outline" style="transform: rotate(180deg);"></ion-icon>
            </ion-button>
            <ion-button fill="clear" [disabled]="true"> Pag: {{postsService.meta.current_page}}
                /{{postsService.meta.last_page}} {{postsService.meta.from}}-{{postsService.meta.to}}
                /{{postsService.meta.total}} </ion-button>
            <ion-button (click)="postsService.getPosts(postsService.meta.current_page + 1)"
                        [disabled]="postsService.meta.current_page == postsService.meta.last_page"
                        fill="clear">
                <ion-icon slot="start" name="play-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
